@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mobile-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
  margin: 1rem 2.5rem !important;
}

.header-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 2rem;
}
